{% extends 'base.html' %}
{% block content %}
<div class="container content">
    <div class="row portal-padding">
        <div class="col-md-5 col-lg-5 col-sm-12 ">
            {% if current_user.is_authenticated %}
            <table>
                <tr>
                    <th>
                        Your Waitlist Status & Information
                    </th>
                </tr>
                <tr>
                    <td class="top-td">Potential Beneficiaries in the Waitlist</td>
                    <td>{{ count }}</td>
                </tr>
                <tr>
                    <td>Number of People in Front of you on the Waitlist</td>
                    <td>{{ users_before }}</td>
                </tr>
                <tr>
                    <td>Active Beneficiaries at Goodsend</td>
                    <td>{{ active_count }}</td>
                </tr>
                <tr>
                    <td>Total $$ Amount Per Beneficiary</td>
                    <td>{{ dollar_amount }}</td>
                </tr>
            </table>
            {% else %}
            <p>Welcome!</p>
            {% endif %}

        </div>
        <div class="col-md-2 col-lg-2 col-sm-12"></div>
        <div class="col-md-5 col-lg-5 col-sm-12 total-fund-col ">

            <h2 class="total-fund">Fund Total</h1>
                <h2 class="total-fund">${{ balance['available'][0]['amount'] }}</h1>
        </div>
    </div>
</div>
{% endblock content %}