{% extends 'base.html' %}

{% block content %}

<h1 class="justify-content-center">Register for a new account.</h1>

<!-- Signup Form which comes from Flask Route-->
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <fieldset>
            {{ form.first_name.label }}
            {{ form.first_name(class="form-control", placeholder="First Name")}}
        </fieldset>
        <fieldset>
            {{ form.last_name.label }}
            {{ form.last_name(class="form-control", placeholder="Last Name")}}
        </fieldset>
        <fieldset>
            {{ form.email.label }}
            {{ form.email(class="form-control", placeholder="Email") }}
        </fieldset>
        <fieldset>
            {{ form.password.label }}
            {{ form.password(class="form-control", placeholder="Password") }}
        </fieldset>
        <fieldset>
            {{ form.confirm_pass.label }}
            {{ form.confirm_pass(class="form-control", placeholder="Confirm Password") }}
        </fieldset>
        {{ form.submit(class="btn btn-primary button") }}
    </div>
</form>

{% endblock content %}